<nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <ul>
        <li tabindex="0" class="menu-app-logo" [ngClass]="{'active': activeState === 'app-logo'}" (click)="setActiveState('app-logo')" >
            <i class="icon-fullscreen_exit x2"></i><span>Menu Item 1</span>
        </li>
        <li tabindex="0" class="menu-client-logo" [ngClass]="{'active': activeState === 'client-logo'}" (click)="setActiveState('client-logo')" >
            <i class="icon-wifi_tethering x2"></i><span>Menu Item 2</span>
        </li>
        <li tabindex="0" class="menu-user menu-divider-bottom" [ngClass]="{'active': activeState === 'user'}" (click)="setActiveState('user')" >
            <img src="/assets/images/512px-So_happy_smiling_cat.jpg"><span>Menu Item 3</span>
        </li>

        <li tabindex="0" class="menu-orange" [ngClass]="{'active': activeState === 'DASHBOARD'}">
            <app-link [target]="'DASHBOARD'"><i class="icon-play_circle_outline x2"></i><span>Dashboard</span></app-link>
        </li>
        <li tabindex="0" class="menu-yellow"  [ngClass]="{'active': activeState === 'SETTINGS'}">
            <app-link [target]="'SETTINGS'"><i class="icon-wifi_tethering x2"></i><span>Settings</span></app-link>
        </li>
        <li tabindex="0" class="menu-off-green" [ngClass]="{'active': activeState === 'ABOUT'}">
            <app-link [target]="'ABOUT'"><i class="icon-info_outline x2"></i><span>About</span></app-link>

        </li>
        <li tabindex="0" class="menu-green-2" [ngClass]="{'active': activeState === 'TODOS'}">

            <app-link [target]="'TODOS'"><i class="icon-playlist_add_check x2"></i><span>ToDo's</span></app-link>
        </li>
        <li tabindex="0" class="menu-green-3" [ngClass]="{'active': activeState === 'dashboard5'}" (click)="setActiveState('dashboard5')" >
            <i class="icon-search x2"></i><span>Menu Item 5</span>
        </li>
        <li tabindex="0" class="menu-blue" [ngClass]="{'active': activeState === 'dashboard6'}" (click)="setActiveState('dashboard6')" >
            <i class="icon-search x2"></i><span>Menu Item 6</span>
        </li>
        <li tabindex="0" class="menu-purple" [ngClass]="{'active': activeState === 'dashboard7'}" (click)="setActiveState('dashboard7')" >
            <i class="icon-info_outline x2"></i><span>Menu Item 7</span>
        </li>
        <li tabindex="0" class="menu-purple-2" [ngClass]="{'active': activeState === 'dashboard8'}" (click)="setActiveState('dashboard8')" >
            <i class="icon-info_outline x2"></i><span>Menu Item 8</span>
        </li>
        <li tabindex="0" class="menu-pink" [ngClass]="{'active': activeState === 'dashboard9'}" (click)="setActiveState('dashboard9')" >
            <i class="icon-info_outline x2"></i><span>Menu Item 9</span>
        </li>
        <li tabindex="0" class="menu-white menu-divider-top" [ngClass]="{'active': activeState === 'dashboard10'}" (click)="setActiveState('dashboard10')" >
            <i class="icon-info_outline x2"></i><span>Menu Item 10</span>
        </li>
        <li tabindex="0" class="menu-white" [ngClass]="{'active': activeState === 'dashboard11'}" (click)="setActiveState('dashboard11')" >
            <i class="icon-info_outline x2"></i><span>Menu Item 10</span>
        </li>
    </ul>
</nav>
