<form (submit)="settingsModified('settings')">
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
        Show salutation
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nameInput">Name</label>
        <input required type="email" class="form-control" id="nameInput" placeholder="Enter name" [(ngModel)]="model.name" name="name"
          #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="lastNameInput">Last name</label>
        <input required type="email" class="form-control" id="lastNameInput" placeholder="Enter last name" [(ngModel)]="model.lastname"
          name="lastname" #lastname="ngModel">
        <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
          Last name is required
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">Submit</button>
  </form>
